.productDetail-area {
	padding: 60px;
}
.productDetail-item {
	border-radius: 10px;
	margin-bottom: 70px;
	border: 1px solid gray;
	text-align: center;
}
.productDetail-item img {
	width: 100%;
}
.productDetail-item h1 {
	padding: 20px 20px;
	font-size: 40px;
}
.productDetail-item p {
	padding: 10px;
	font-size: 20px;
}
.productDetail-item p {
	padding-left: 20px;
}
.orders-area{
	box-shadow:0 10px 30px rgba(5, 5, 5, 0.115);
}
.mb-2.py-2.px-2 {
	border: 1px solid gray;
}
.mb-2.py-2 {
	border: 1px solid gray;
}
.input-button {
	border: 1px solid gray;
}
.d-flex.flex-column.py-2 input {
	padding: 0 20px;
}