.productDetail-area {
	padding: 60px;
}
.productDetail-item {
	box-shadow:0 10px 30px rgba(5, 5, 5, 0.115);
	border-radius: 10px;
	margin-bottom: 30px;
}
.productDetail-item img {
	width: 100%;
}
.productDetail-item h1 {
	padding: 20px 20px;
}
.productDetail-item p {
	padding: 10px;
}
.productDetail-item p {
	padding-left: 20px;
}
.mb-2.py-2.px-2 {
	border: 1px solid gray;
}
.mb-2.py-2 {
	border: 1px solid gray;
}
.input-button {
	border: 1px solid gray;
}